{% extends 'base.html' %} 
{% block title %}
 Create 
{% endblock title %} 
{% block header %}
<h1 style="text-align: center">Tambah Artikel</h1>
<hr />
{% endblock header %} {% block contents %}
<form method="POST">
  {% csrf_token %}
    <div class="mb-3">
      <label for="{{form.judul.id_for_label}}" class="form-label">{{form.judul.label}}</label>
      <input type="text" class="form-control" name="{{form.judul.name}}" maxlength="{{form.judul.max}}" required id="{{form.judul.id_for_label}}">
    </div>

    <div class="mb-3">
      <label for="{{form.konten.id_for_label}}" class="form-label">{{form.konten.label}}</label>
      <textarea class="form-control" name="{{form.konten.name}}" required id="{{form.konten.id_for_label}}" cols="30" rows="10"></textarea>
    </div>

    <div class="mb-3">
      <label for="{{form.kategori.id_for_label}}" class="form-label">{{form.kategori.label}}</label>
      <input type="text" class="form-control" name="{{form.kategori.name}}" maxlength="{{form.kategori.max}}" required id= "{{form.kategori.id_for_label}}">
    </div>
  <button type="Submit" class="btn btn-primary">Kirim</button>
</form>
{% endblock contents %}
